.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

.border-radius {
    border-radius: 30px;
    opacity: 0.8;
}

.logo {
    color: #ffff;
}

.text-shadow {
    text-shadow: 1px 1px 2px black;
}

.painel {
    background-color: #2e7d32;
}

.login-container{
    height: 75vh; 
}

.cadastro-container{
    height: 85vh; 
}



body {

    padding-top: 85px;
    background-color: #81c784;

}

#home-quote{

    background: url('imgs/jungle.jpg') center center;
    background-size: cover;
    filter: saturate(50%);
    height: max-content;

}

@media (max-width: 767px) {
    .login-container {
      margin: 0 !important;
      width: 100% !important;
      max-width: 95vw;
    }

    .cadastro-container {
        margin: 0 !important;
        height: 85%;
        width: 100% !important;
      max-width: 95vw;
    }
    
    .container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
}


@media (max-width: 767px) {
    .navbar-nav .btn {
        background-color: transparent !important;
        border-color: transparent !important;
        padding: 0;
        color: inherit !important;
    }
    
    .navbar-nav .btn-success {
        color: #fff !important;
        margin-top: 0.5rem;
    }
    .navbar-nav .btn-outline-success {
        color: #fff !important;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }
    
    .navbar-nav .btn:hover {
        text-decoration: underline;
    }
}

@media (max-width: 768px) {
    #home-quote .display-4 {
        font-size: 2.5rem;
    }
    body {
        padding-top: 0px;
    }
    .fixed-top {
        position: relative;
    }
}