.box-shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05),
                0 4px 8px 0 rgba(0,0,0,.05);
}

.border-radius {
    border-radius: 30px;
    opacity: 0.8;
}

.logo {
    color: #ffff;
}

/* body {

    padding-top: 115px;

    background-image: url("/imgs/flying-frog-closeup-beautiful-tree-frog-red-flower-animal-closeup-rhacophorus-reinwardtii.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */